body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #333;

}

a{
    text-decoration: none;

}
.containerprodutos {
  
 display: none; 

}

.containerprodutosclick
{
 display: inline-block; 
 display: flex;
 justify-content: flex-start;
 flex-wrap: wrap;
 gap:1rem;
}


.produtos img {

width: 90%;
height: 53%;
display: flex;
border-radius: 10px;
  
 }
 .produtos h1 {
  height: 3rem;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0%;
  width: -webkit-fill-available;
}

.botaocomprar a:hover {

    
    color: #e15f22;
 
    border-bottom: solid #ffffff;
     padding-bottom:9px;
     
    border-width: 7px;
     border-radius: 7px;
    border-top-width: 0;
    border-top-style: none;
    border-right-width: 0;
    border-right-style: none;
    border-left-width: 0;
    border-left-style: none;
} 
.botaocomprar a {

    font-size: 2rem;
    color: #000000;
    text-decoration: none;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: capitalize;
    

}

 .botaocomprar
 {

  

 }
.produtos {
   background: #ffffff;
 
    border-radius: 30px;
    width: 250px;
    height: 300px;
    text-align: center;
    box-sizing:  border-box;
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
   text-transform: capitalize;
    
 
   
    border-style: solid;
    border-width: 9px;
    border-radius: 9px;

   
    border-color: #f75f00;
    border-top-width: 0;
    border-top-style: none;
    border-right-width: 0;
    border-right-style: none;
    border-left-width: 0;
    border-left-style: none;
   
   
   
   
}

.menu-principal {
    background-color: #00000054;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px
}


.redes-sociais {

    display: inline-block;
    justify-self: right;
    align-self: center;
    margin-right: 15%;


}

.logo img {
    width: 100px;
    height: 80px;



}

.logo {
    align-self: center;
    margin-left: 5%;
}


.imgredes {
    height: 45px;
    width: 45px;

}


.header-2 {

    display: grid;
    grid-template-columns: auto auto;

}

.busca {

    justify-self: right;
    margin-right: 16%
}

.busca input {


    border: solid #e15f22 1px;
    background-image: url('../img/lupa.png');
    background-repeat: no-repeat;
    background-position: 97%;
    height: 30px;
    width: 200px;
    padding: 8px;
}

.lupa {

    width: 30px;
    height: 30px;

    float: right;
    margin-right: -232px;
    margin-top: 24px;


}


.linha {

    height: 0px;
    margin-top: 0px;
    border-bottom: thick double #e15f22;
}

nav {

    background-color: #333;
    width: 100%;
    height: 0;

}

nav a {

    margin-left: 3%;
    margin-top: 7px;
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 2px;
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;


}

nav a:hover {

    color: #e15f22;
    height: 2.3rem;
    border-bottom: thick double #ffffff;

}



.container-slider-principal {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: flex-end;
 

}

.content {
    margin-top: 0.5%;
  

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;


    align-self: flex-start;
   

 





}


   

.slider-principal {

    align-self: flex-start;
    justify-self: center;
    width: 90%;
    height: 300px;
    display: inline-flex;
    border-radius: 40px;
    overflow: hidden; 
    
        

}

.content .slider-principal > .imagensslider > .img1
 img {
    width: 100%;
    height: 100%;

}





.imagensslider {
  
    margin-top:0px;
    display: inline-block;

    transition: .9s;
    
   

}


.img1{    transition: margin-top 0.8s ease; height: 100%;}

 


.manual-btn {
    width: 2px;
    height: 2px;
    border: 3px solid #ffffff;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: .9s;
 


}



.manual-btn:hover {
    background-color: #e15f22;

}




 
@media (max-width: 600px) 
{
   .linha
    {
margin-top: 2rem;

    }
nav a:hover {
     
    color: #e15f22;
    height:1.3rem;
    border-bottom: thick double #ffffff;
 
}

  
   .slider-principal {
     
    height: 60%;
    margin-top: 20%;
    }
  


.logo img {
    width: 100px;
    height: 70px;
  


}


.busca input {

   display: none;
}

.header-2{
           display: flex;
        flex-wrap: wrap;
    
 
          
    
    }
.busca{ 

    display:flex;

}
 

.imagenssliders1 img{
    width: 100%;
    height: 100%;


}

.imagenssliders1{
    width: 100%;
    height: 300px;


}
.content
{
width: 100%;
height: auto;


}


 .containerprodutosclick
{
 display: inline-block; 
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 
}
    .produtos {
   background: #ffffff;
 
    border-radius: 30px;
    width: 40%;
    height: 300px;
    text-align: center;
    box-sizing:  border-box;
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
   text-transform: capitalize;
    
 
   
    border-style: solid;
    border-width: 9px;
    border-radius: 9px;

   
    border-color: #f75f00;
    border-top-width: 0;
    border-top-style: none;
    border-right-width: 0;
    border-right-style: none;
    border-left-width: 0;
    border-left-style: none;
   




    
   
}
h1{font-size: 1.4rem; }

 
.botaocomprar a {
    font-size: 1.4rem;
    color: #000000;
    text-decoration: none;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: capitalize;
}

.botaocomprar a:hover {

    
 
 
    border-bottom: solid #ffffff;
     padding-bottom:0.77rem;
     
    border-width: 7px;
     border-radius: 4px;
    border-top-width: 0;
    border-top-style: none;
    border-right-width: 0;
    border-right-style: none;
    border-left-width: 0;
    border-left-style: none;
} 
}